*{
    margin: 0pt;
}
.header{
    height: 20%;
    background-color:black; 
    width: 100%;
}
.footer{
    height: 20%;
    background-color: black; 
    width: 100%;
}
.body{
    height: 60%;
    background-color:yellow; 
    width: 100%;
}
.levelone{
    width: 30%;
    height: 100%;
    background-color: green;
    float: left;
}
.leveltwo{
    width: 40%;
    height: 100%;
    background-color: white;
    float: left;
}
.levelthree{
    width: 30%;
    height: 100%;
    background-color: green;
    float: left;
}
.divone{
    height: 35%;
    background-color: white;
}
.divtwo{
    height: 30%;
    background-color: green;
}
.divthree{
    height: 35%;
    background-color: white;
}
.done{
    width: 30%;
    background-color: blue;
    height: 100%;
    float: left;
}
.dtwo{
    width: 40%;
    background-color: white;
    height: 100%;
    float: left;
}
.dthree{
    width: 30%;
    background-color: blue;
    height: 100%;
    float: left;
}




